<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}  <!-- static 태그 로드 추가 -->
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
  </head>
  <body>
    <div class="reset-password-form">
      <form method="post">
        {% csrf_token %}
        <div class="form-log-in">
          <div class="input-field">
            <div class="label">Email</div>
            {{ form.email }}
          </div>
        </div>
      </form>
    </div>
  </body>
</html>